# CẤU HÌNH DATABASE DOCKER
MYSQL_ROOT_PASSWORD=nhap_mat_khau_cua_ban
MYSQL_DATABASE=smartfit_db

# CẤU HÌNH THỜI GIAN
TIMEZONE=Asia/Ho_Chi_Minh

# CẤU HÌNH WEBHOOK N8N
# Nếu dùng XAMPP kết hợp n8n Desktop: http://localhost:5678/
# Nếu chạy n8n bằng Docker: http://host.docker.internal:5678/
N8N_URL=http://localhost:5678/