form {
  border: 3px solid #f1f1f1;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.signupbt {
  width: auto;
  padding: 10px 18px;
  background-color: hsl(258, 94%, 37%);
}

.imgcontainer {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 12px 0;
}

.back-icon {
    position: absolute;
    left: 0px;  
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #333;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.back-icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .signupbt {
    width: 100%;
  }
}